<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('googleMap'), {
      zoom: 8,
      center: {
        lat: -34.397,
        lng: 150.644
      }
    });
    var geocoder = new google.maps.Geocoder();

    document.getElementById('submit').addEventListener('click', function () {
      geocodeAddress(geocoder, map);
    });
  }

  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address-input-field').value;
    geocoder.geocode({
      'address': address
    }, function (results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location
        });
      } else {alert('Geocode was not successful for the following reason: ' + status);}
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO2czLXUZis1LInOHGPLxNxFjkTx34X58&signed_in=true&callback=initMap"></script>

<div class="container">

  <header>
    <div class="header-title">
      <h1>Hello Ex Pats</h1>
      <%= @testing %>
    </div>
  </header>

  <!-- Structure of page -->

  <div id="test-div">
    <p>
      This is some text.
    </p>
    <div class="map-box" id="googleMap" style="width:50%;height:40vh;"></div>
  </div>

  <div id="main-div"></div>
  <div id="new-user-form"></div>
  <div id="test"></div>

  <!-- Templates -->

  <script id="table-rows" type="text/template">
    <tr></tr>
    <tr></tr>
  </script>

  <div id="template-1">
    <div class="testclass">
      Here is some stuff
    </div>
    <h1>Here is a title</h1>
    <p>
      And here is some more stuff. This is coming from the Backbone template.
    </p>
    <p>
      This
    </p>
    <hr>
    <div id="put-table-here"></div>
    <hr>

    <!-- Template for form -->

    <script id="enter-new-user-form-template" type="text/template">
      <div>

        <form>
          <input class="form-field" id="firstname-input-field" placeholder="first name" type="text">
          <br>
          <input class="form-field" id="lastname-input-field" placeholder="last name" type="text">
          <br>
          <input class="form-field" id="lastname-input-field" placeholder="email" type="email">
          <br>
          <input class="form-field" id="address-input-field" placeholder="your location" type="text">
          <br>
          <div class="button-box">
            <button class="new-user-submit-button flickr-search" id="submit">Submit</button>
          </div>
        </form>

      </script>

      <script id="table-template" type="text/template">
        <table class="name-table">
          <thead>
            <tr>
              <th class="name">
                <span class="name">First name</span>
              </th>

              <th class="name">
                <span class="name">Last name</span>
              </th>
            </tr>
          </thead>
          <tbody>

            <%% users.each(function (user) { %>
              <tr>
                <td class="firstname">
                  <%%= user.get("firstname") %>
                </td>
                <td class="lastname">
                  <%%= user.get("lastname") %>
                </td>

              </tr>
              <%% }); %>

            </tbody>
          </table>
        </script>

        <script>
          // $(document).ready(function () {
          //   initialiseGmaps()
          // })
        </script>
      </div>