<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialiseGmaps() {
    var mapProp = {
      center: new google.maps.LatLng(51.508742, -0.120850),
      zoom: 5,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    google.maps.event.addDomListener(window, 'load', initialiseGmaps);
  }
</script>

<header>
<div class="header-title">
  <h1>Hello Ex Pats</h1>
  <%= @testing %>
</div>
</header>

<!-- Structure of page -->

<div id="test-div">
  <p>
    This is some text.
  </p>
  <div class="map-box" id="googleMap" style="width:500px;height:380px;"></div>
</div>

<div id="main-div"></div>
<div id="new-user-form"></div>
<div id="test"></div>

<!-- Templates -->

<script id="table-rows" type="text/template">
  <tr></tr>
  <tr></tr>
</script>

<div id="template-1">
  <div class="testclass">
    Here is some stuff
  </div>
  <h1>Here is a title</h1>
  <p>
    And here is some more stuff. This is coming from the Backbone template.
  </p>
  <p>
    This
  </p>
  <hr>
  <div id="put-table-here"></div>
  <hr>

  <!-- Template for form -->

  <script id="enter-new-user-form-template" type="text/template">
    <div>

      <form>
        <input class="form-field" id="firstname-input-field" placeholder="First name" type="text">
        <br>
        <input class="form-field" id="lastname-input-field" placeholder="Last name" type="text">
        <br>
        <button class="new-user-submit-button">Submit</button>
      </form>
    </div>
  </script>

  <script id="table-template" type="text/template">
    <table class="name-table">
      <thead>
        <tr>
          <th class="name">
            <span class="name">First name</span>
          </th>

          <th class="name">
            <span class="name">Last name</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <%% users.each(function (user) { %>
          <tr>
            <td class="firstname">
              <%%= user.get("firstname") %>
            </td>
            <td class="lastname">
              <%%= user.get("lastname") %>
            </td>

          </tr>
          <%% }); %>

        </tbody>
      </table>
    </script>