<div id="main-div">
  <h1>Hello Ex Pats</h1>

  <%= @testing %>
</div>

<script id="backbone-template" type="text/template">
  <div id="template-1">
    <h1>Here is a title</h1>
    <p>
      And here is some more stuff.
    </p>
    <p>
      <hr>
      <table class="name-table">
        <thead>
          <tr>
            <th class="name">
              <span class="name">First name</span>
            </th>
            <th class="name">
              <span class="name">Last name</span>
            </th>
          </tr>
        </thead>
        <tr>
          <td><%%= firstname %></td>
          <td><%%= lastname %></td>
        </tr>
        <tfoot>
          <tr>
            <td>
              This is a footer for a table
            </td>
            <td>
              This is a footer for a table
            </td>
          </tr>
        </tfoot>

      </tfoot>

      <tr>
        <thead></thead>

      </tr>
    </table>

    <br>

  </p>

</div>
</script>