<div id="search-template">

  <h1>Flickr</h1>

  <input class="search-input" type="text"><br>
  <button class="flickr-search">Search</button>

  <div class="image-container"></div>

  <div id="enter-new-user-form-template"></div>
  <div id="table-template"></div>

</div>