<header>
  <table>
    <tbody>
      <tr>
        <td>
          <div class="header-title"></div>
        </td>
        <td>
          <h1>Hello Ex Pats</h1>
        </td>
      </tr>
    </tbody>
  </table>
</header>

<!-- Template for form -->

<div class="container">

  <div id="enter-new-user-form-template"></div>
  <div id="table-template"></div>

  <div class="search-results"></div>
  <div class="search-form"></div>

  <script id="search-template" type="text/template">
    <div>
      <form>
        <input class="form-field" id="search-field" placeholder="Search" type="text">
        <br>
        <div class="button-box">
          <button class="new-user-submit-button flickr-search" id="submit">Submit</button>
        </div>

      </form>
    </div>
  </script>

</div>