.meetup-list {
  position: absolute;
  right: 0;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
  margin: 0.5rem 0;
  width: 45%;
}






  // width: 45%;
  // position: absolute;
  // right: 2rem;
