html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 246, 227);
  color: #333;
  font-family: arial, sans-serif;
  // font-size: 13px;
  // line-height: 18px;
  background-repeat: no-repeat;
 }

header {
  margin-top: 5px;
  background-image:url("expat.jpg");
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  min-height: 5rem;
  // border:2px solid white;
}

.header-title {
  margin-left: 450px;
  margin-right: 0px;
  color: rgb(5, 21, 69);
}

image {
	height: 80px;
	width: 80px;
}

.flick-header {
  background-image:url(http://www.transitionsabroad.com/images/maps/worldwide_expatriates.gif);
  background-repeat: no-repeat;
  height:200px;
  width:400px;
}

.image-container {
   min-height: 120px;
}
