@media only screen and (max-width: 800px) {
  .pictures {
    // position: relative
    display: block;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    margin: 0.5rem 0;
    width: 100%;
  }
  .image-container {
    text-align: center;
  }
}

@media only screen and (min-width: 801px) {
  .pictures {
    position: absolute;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    margin: 0.5rem 0;
    width: 45%;
  }
}

.pictures img {
  width: 20%;
  padding: 0.5rem;
  height: 10rem;
  width: 10rem;
  background-size: cover;
  margin: 0.5rem;
  box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
}
