* {
  box-sizing: border-box;
}
$heading-text: Raleway, sans-serif;
$body-text: Roboto, sans-serif;

@mixin my-heading {
  font-family: $heading-text;
  font-weight: 700;
}

@mixin my-body-text {
  font-family: $body-text;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

h1 {
  @include my-heading;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.top-container {
  position: relative;
  height: 50vh;
};

.name {
  @include my-heading;
  font-size: 1.5rem;
  text-align: left;
}

.logged-in-message {
  width: 90%;
  margin: 0 auto;
  text-align: right;
}
