* {
  box-sizing: border-box;
}

$heading-text: Raleway, sans-serif;
$body-text: Roboto, sans-serif;

@media only screen and (max-width: 800px) {
  .top-container {
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 801px) {
  .top-container {
    position: relative;
    height: 50vh;
  }
}

@mixin my-heading {
  font-family: $heading-text;
  font-weight: 700;
}

@mixin my-body-text {
  font-family: $body-text;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

h1 {
  @include my-heading;
}

.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.name {
  @include my-heading;
  font-size: 1.5rem;
  text-align: left;
}

.logged-in-message {
  width: 90%;
  margin: 0 auto;
  text-align: right;
}
